{% extends 'layout.html.twig' %}

{% trans_default_domain 'game' %}

{% block title 'lose.title'|trans %}

{% block subtitle 'lose.subtitle'|trans %}

{% block content %}

    <p>
        {% trans with { '%word%': "<strong>#{game.word}</strong>"} %}
            lose.message
        {% endtrans %}
    </p>

{% endblock %}
