{% extends 'layout.html.twig' %}

{% trans_default_domain 'security' %}

{% block title 'login.title'|trans %}

{% block subtitle 'login.subtitle'|trans %}

{% block content %}
<form action="{{ path('app_login_check') }}" method="post">
    <label for="username">{{ 'login.username'|trans }}</label>
    <input type="text" id="username" name="my_login" value="" />

    <label for="password">{{ 'login.password'|trans }}</label>
    <input type="password" id="password" name="my_secret" />

    <button type="submit">{{ 'login.submit'|trans }}</button>
</form>
{% endblock %}
